server:
  port: 8082

spring:
  application:
    name: inventory-service
  
  data:
    mongodb:
      host: localhost
      port: 27017
      database: inventorydb
      username: admin
      password: admin
      authentication-database: admin

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: inventory-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.lab.inventory.dto.OrderEventDTO

kafka:
  topic:
    order-events: order-events
